/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
  --blue: #3088F0;
  --blue-2: #2567b8;
  --yellow: #FFCB04;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a:hover{
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  display: flex;
  align-items: center;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.form {
  position: relative;
  margin-right: 30px;
  display: flex;
  align-items: flex-end;
}
form label {
  position: absolute;
  display: block;
  width: 30px;
  top: 10px;
  left: 10px;
  color: var(--blue);
}
form input[type="text"]{
  border: 2px solid var(--blue);
  border-bottom:  7px solid var(--blue);
  border-radius: 10px;
  padding: 10px 10px 10px 45px;
  width: 250px;
  outline-style: none;
}
form input[type="text"]:hover{
  border-color: var(--blue-2);
}
form input[type="text"]:focus{
  border-color: var(--blue-2);
}
form button{
  background-color: var(--blue);
  color: var(--yellow);
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  border-bottom: 6px solid var(--blue-2);
  margin-left: 10px;
  outline-style: none;
}
form button:hover {
  border-bottom: 4px solid var(--blue-2);
}
form button:focus {
  border-bottom: 2px solid var(--blue-2);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 190px);
  grid-auto-rows: 290px;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-content: space-evenly;
  align-items: end;
  margin: 20px 0 60px 0;
}
.wrapper > div {
  text-align: center;
}
.wrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #8bbfff;
  padding: 15px 0 5px 0;
  border-radius: 14px;height: 150px;
}
.wrapper div img {
  position: relative;
  height: 150px;
  width: 150px;
  top: 50px;
  z-index: 1;
}
.wrapper .info p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 20px 0px 5px 0px;
  color: var(--yellow);
  font-weight: 600;
}
.wrapper .info a {
  position: relative;
  top: 20px;
  color: #fff;
  background-color: #3088F0;
  border-radius: 10px;
  padding: 6px 25px;
  border-bottom: 6px solid var(--blue-2);
}
.wrapper .info a:hover{
  margin-top: 2px;
  background-color: #3088F0;
  border-bottom: 4px solid var(--blue-2);
  text-decoration: none;
}
.wrapper .info a:focus {
  border-bottom: 2px solid var(--blue-2);
}
form input[type="submit"] {
  background: none;
  border: none;
  margin: 0px 15px;
}

.pag {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pag a {
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--yellow);
  font-weight: 600;
  border-bottom: 6px solid var(--blue-2);
}
.pag a:hover {
  color: var(--yellow);
  border-bottom: 4px solid var(--blue-2);
}
.pag a:focus {
  border-bottom: 2px solid var(--blue-2);
}

/* ============DETAILS================= */
.info-details h1{
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 600;
  position: relative;
  width: max-content;
}
.info-details h1 > span{
  font-size: 1rem;
  position: absolute;
  top: 5px;
  color: var(--yellow);
}
.img-details img{
  width: 400px;
}
.details{
  display: flex;
  gap: 30px;
}
.info-details {
  flex: 1;
}
.table-info{
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px 10px;
  background-color: #ffffff00;
  font-size: 1.1rem;
}
.table-info tr{
  height: 40px;
  border: 2px solid var(--blue);
}
.table-info tr td{
  padding: 0 15px;
  border: 2px solid var(--blue);
}
.table-info tr .t-header{
  width: 170px;
  background-color: var(--blue);
  color: var(--yellow);
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 8px 0 0 8px;
}
.table-info tr .t-body{
  display: flex;
  height: inherit;
  gap: 25px;
  align-items: center;
  background-color: #e4f0ff;
  border-radius: 0 8px 8px 0;
}
.table-info tr .t-body div{
  background-color: #a5c3e7;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 0px 8px;
  color: var(--blue-2);
}
.table-info tr td svg{
  height: 14px;
}
.table-info tr td img{
  height: 22px;
}
.table-info p{
  margin: 0;
}
/* ==========DETAILS/graphic============= */
.stats{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.stats .graphics{
  position: relative;
}

.stats p {
  position: absolute;
}
.stats p.title{
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--blue);
  line-height: 18px;
}
.stats p.title span{
  color: var(--yellow);
  font-size: 1.6rem;
}
.stats .hp{
  left: 175px;
  top: -20px;
}
.stats .attack{
  left: -50px;
  top: 80px;
  width: 50px;
  line-break: normal;
}
.stats .defense{
  left: -65px;
  top: 280px;
  width: 50px;
  line-break: normal;
}
.stats .special-attack{
  left: 130px;
  top: 400px;
}
.stats .special-defense{
  left: 410px;
  top: 280px;
  width: 50px;
  line-break: normal;
}
.stats .speed{
  left: 410px;
  top: 80px;
  width: 50px;
  line-break: normal;
}